.container {
  display: flex;
  flex-direction: column;
}

.additionalDataContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline
}

.sourceText {
  display: inline;
}

.buttonSubmit.buttonSubmit {
  min-width: fit-content;
  width: 200px;
  text-transform: initial;
}
