.display {
  height: calc(100% - 136px);
  padding: 16px;
}

.walletAcc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label.label {
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
}

.select {
  background-color: white;
}
