.exchangerWrapper {
  width: 100%;
  max-width: 900px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 460px) {
  .tab.tab {
    padding: 5px;
  }
}
